.statistics {
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  font-size: 26px;
  font-weight: 600;
  color: #4d4d4d;
  text-transform: uppercase;
  text-align: center;
}

.stat-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0 auto;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc(100% / 5);
  padding: 15px 0;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.label {
  font-size: 18px;
}

.percentage {
  font-size: 22px;
}
